@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;

}

/* ===============Header-(Start)============= */
header nav {
    width: 100%;
    height: 100px;

    background: #0b163f;
    display: flex;
    justify-content: space-between;

}

/*---------- header-left-side ----------*/

header nav .left-side a img {
    height: 30px;
    /* padding: 20px ; */
    margin: 40px;
    margin-left: 100px;
}

/*---------- header-right-side ----------*/
header nav .right-side ul {
    list-style: none;
    display: flex;
    padding: 40px;
    font-weight: 500;


}

header nav .right-side ul li a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
    line-height: 26px;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px;
    padding-right: 20px;

}

header nav .right-side ul .contact {
    background-color: rgb(23, 92, 255);
    color: white;
    padding: 10px;
    margin-right: 20px;
    border-radius: 5px;
    transition: all 0.5s;
}

header nav .right-side ul li a:hover {
    color: white;
    cursor: pointer;
    transition: all 0.5s;

}

header nav .right-side ul .contact:hover {
    color: rgb(23, 92, 255);
    background: transparent;
    outline: 1.5px solid rgb(23, 92, 255);
    transition: all 0.5s;

}

/* ===============Header-(End)============= */

/* ===============Top-section-(Start)============= */

/* ----------top-section---------- */
.top {
    height: 150vh;
    /* width: 100%; */
    background-color: #0b163f;
    display: flex;
    flex-direction: row;
}


/* ----------top-section-left-side---------- */
.top-left-side {
    height: 500px;
    width: 40%;
    padding: 200px 0;
    margin-left: 100px;
}

.top-left-side h1 {
    color: white;
    line-height: 55px;
    font-size: 46px;
    font-weight: 700;
    letter-spacing: 0px;
}

.top-left-side p {
    padding: 10px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.7);
}

.top .top-left-side input {
    border: none;
    margin-top: 20px;
    height: 50px;
    width: 150px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    background-color: rgb(23, 92, 255);
    color: white;
    line-height: 26px;
    transition: all 0.5s;
}

.top .top-left-side input:hover {

    background: transparent;
    outline: 1.5px solid rgba(255, 255, 255, 0.7);
    transition: all 0.5s;
    cursor: pointer;
}

/* ----------top-section-right-side---------- */
.top .top-right-side {
    width: 60%;
    height: 100vh;
    position: relative;
}

.top .top-right-side img {
    width: 580px;
    height: 650px;
    margin: 70px;
}

/* ===============Top-section-(End)============= */

/* ===============Section-One-(Start)============= */

/* -----------------section-one------------ */
.section-one {
    width: 100%;
    height: 130vh;
    background-color: #f8f9fa;
    align-items: center;
    justify-content: center;
}

.section-one .section-one-text {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 150px;
    /* justify-content: center; */
}

.section-one .section-one-text h2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: rgb(23, 92, 255);
}

.section-one .section-one-text h1 {
    font-size: 40px;
    font-weight: 700;
    color: rgb(7, 28, 77);
    line-height: 80px;
}

.section-one .section-one-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: rgb(82, 82, 92);
}

/* --------------section-one-task--------------- */
.section-one-task {
    width: 100%;
    padding: 100px;
    display: flex;
}

/* ------------section-one-task-one---------- */
.section-one-task .task1 {
    width: 350px;
    height: 250px;
    padding: 30px;
    outline: 2px solid rgba(165, 165, 173, 0.2);
    border-radius: 10px;
    transition: all 0.3s;
}

.section-one-task .task1 h1 {
    font-size: 20px;
    font-weight: 600;
    line-height: 44px;
    color: rgb(7, 28, 77);
}

.section-one-task .task1 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(82, 82, 92);
}

.section-one-task .task1 i {
    font-size: 25px;
    text-align: center;
    padding: 15px;
    line-height: 25px;
    border-radius: 5px;
    width: 55px;
    height: 55px;
    margin: auto;
    color: white;
    background-color: #175cff;
}

.section-one-task .task1:hover {
    outline: none;
    margin-top: -7px;
    box-shadow: 2px 2px 40px 0px rgba(165, 165, 173, 0.3);
    transition: all 0.3s;
    background-color: white;
}

/* ------------section-one-task-two---------- */

.section-one-task .task2 {
    width: 350px;
    height: 250px;
    margin-left: 50px;
    padding: 30px;
    border: 2px solid rgba(165, 165, 173, 0.2);
    border-radius: 10px;
    transition: all 0.2s;
}

.section-one-task .task2 h1 {
    font-size: 20px;
    font-weight: 600;
    line-height: 44px;
    color: rgb(7, 28, 77);
}

.section-one-task .task2 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: rgb(82, 82, 92);
}

.section-one-task .task2 i {
    font-size: 25px;
    text-align: center;
    padding: 15px;
    line-height: 25px;
    border-radius: 5px;
    width: 55px;
    height: 55px;
    margin: auto;
    color: white;
    background-color: #f25767;
}

.section-one-task .task2:hover {
    border: none;
    margin-top: -7px;
    box-shadow: 2px 2px 40px 0px rgba(165, 165, 173, 0.3);
    transition: all 0.3s;
    background-color: white;
}

/* ------------section-one-task-three---------- */

.section-one-task .task3 {
    width: 350px;
    height: 250px;
    margin-left: 50px;
    padding: 30px;
    border: 2px solid rgba(165, 165, 173, 0.3);
    border-radius: 10px;
    transition: all 0.2s;
}

.section-one-task .task3 h1 {
    font-size: 20px;
    font-weight: 600;
    line-height: 44px;
    color: rgb(7, 28, 77);
}

.section-one-task .task3 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(82, 82, 92);
}

.section-one-task .task3 i {
    font-size: 25px;
    text-align: center;
    padding: 15px;
    line-height: 25px;
    border-radius: 5px;
    width: 55px;
    height: 55px;
    margin: auto;
    color: white;
    background-color: #0b163f;
}

.section-one-task .task3:hover {
    border: none;
    margin-top: -7px;
    box-shadow: 2px 2px 40px 0px rgba(165, 165, 173, 0.3);
    transition: all 0.3s;
    background-color: white;
}

/* ===============Section-One-(End)============= */


/* ===============Section-Two-(Start)============= */

/* -----------------section-two------------ */
.section-two {
    width: 100%;
    height: 100vh;
}

/* -----------section-two-left-side---------- */
.section-two .section-two-left {
    width: 57%;
    padding: 100px;
    margin-top: 100px;
    /* display: flex; */
}

.section-two .section-two-left h1 {
    color: rgb(7, 28, 77);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.section-two .section-two-left .section-two-left-image {
    height: 50px;
    width: 50px;
    margin-top: -50px;


}

.section-two .section-two-left .section-two-left-image img {
    height: 100%;
    width: 100%;
    margin-left: 280px;
}

.section-two .section-two-left p {
    font-size: 16px;
    margin-top: 20px;
    line-height: 25px;
    color: rgb(82, 82, 92);
}

/* <!-------- section-two-left-side-icons ---------> */
.section-two .section-two-left-icons {
    height: 200px;
    width: 300px;

}

.section-two .section-two-left .section-two-left-icons-1 {
    height: 40px;
    width: 250px;
    display: flex;
    margin-top: 40px;
}

.section-two .section-two-left .section-two-left-icons-1 i {
    color: rgb(23, 92, 255);
    font-size: 15px;
    margin-top: 3px;

}

.section-two .section-two-left .section-two-left-icons-1 p {
    margin-top: 8px;
    margin-left: 10px;
    color: rgb(87, 87, 87);
    font-size: 15px;
    line-height: 5px;
}

.section-two .section-two-left .section-two-left-icons-2 {
    height: 40px;
    width: 300px;
    display: flex;
    margin-top: 0px;
}

.section-two .section-two-left .section-two-left-icons-2 i {
    color: rgb(23, 92, 255);
    font-size: 15px;
    margin-top: 3px;

}

.section-two .section-two-left .section-two-left-icons-2 p {
    margin-top: 8px;
    margin-left: 10px;
    color: rgb(87, 87, 87);
    font-size: 15px;
    line-height: 5px;
}

.section-two .section-two-left .section-two-left-icons-3 {
    height: 40px;
    width: 300px;
    display: flex;
    margin-top: 0px;
}

.section-two .section-two-left .section-two-left-icons-3 i {
    color: rgb(23, 92, 255);
    font-size: 15px;
    margin-top: 3px;

}

.section-two .section-two-left .section-two-left-icons-3 p {
    margin-top: 8px;
    margin-left: 10px;
    color: rgb(87, 87, 87);
    font-size: 15px;
    line-height: 5px;
}

/* <!-------- section-two-RIGHT-side-icons ---------> */
.section-two .section-two-right-icons {
    height: 200px;
    width: 300px;
}

.section-two .section-two-left .section-two-right-icons-1 {
    height: 40px;
    width: 300px;
    display: flex;
    margin-top: -200px;
    margin-left: 300px;
}

.section-two .section-two-left .section-two-right-icons-1 i {
    color: rgb(23, 92, 255);
    font-size: 15px;
    margin-top: 3px;

}

.section-two .section-two-left .section-two-right-icons-1 p {
    margin-top: 8px;
    margin-left: 10px;
    color: rgb(87, 87, 87);
    font-size: 15px;
    line-height: 5px;
}

.section-two .section-two-left .section-two-right-icons-2 {
    height: 40px;
    width: 300px;
    display: flex;
    margin-top: 0px;
    margin-left: 300px;
}

.section-two .section-two-left .section-two-right-icons-2 i {
    color: rgb(23, 92, 255);
    font-size: 15px;
    margin-top: 3px;

}

.section-two .section-two-left .section-two-right-icons-2 p {
    margin-top: 8px;
    margin-left: 10px;
    color: rgb(87, 87, 87);
    font-size: 15px;
    line-height: 5px;
}

.section-two .section-two-left .section-two-right-icons-3 {
    height: 40px;
    width: 300px;
    display: flex;
    margin-top: 0px;
    margin-left: 300px;
}

.section-two .section-two-left .section-two-right-icons-3 i {
    color: rgb(23, 92, 255);
    font-size: 15px;
    margin-top: 3px;

}

.section-two .section-two-left .section-two-right-icons-3 p {
    margin-top: 8px;
    margin-left: 10px;
    color: rgb(87, 87, 87);
    font-size: 15px;
    line-height: 5px;
}

/* -----------section-two-right-side---------- */
.section-two .section-two-right {
    width: 41%;
    height: 600px;
    margin-left: 750px;
    margin-top: -650px;
}

.section-two .section-two-right img {
    height: 100%;
    width: 100%;
}

/* <==============section-three(Start)==================> */
.section-three {
    width: 100%;
    height: 120vh;
    background-color: #f8f9fa;
}

/* -----------section-three-left-side---------- */
.section-three .section-three-left {
    width: 41%;
    height: 590px;
    margin-left: 100px;
}

.section-three .section-three-left img {
    height: 100%;
    width: 100%;
    margin-top: 100px;
}

/* -----------section-three-right-side---------- */
.section-three .section-three-right {
    width: 55%;
    float: right;
    /* padding-right:  10px; */
    margin-top: 0px;
    margin-right: 20px;
    /* display: flex; */
}

.section-three .section-three-right h1 {
    color: rgb(7, 28, 77);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-left: 0px;
    padding: 100px;
    margin-top: -470px;
}

.section-three .section-three-right .section-three-right-image {
    height: 40px;
    width: 40px;
    margin-top: -143px;


}

.section-three .section-three-right .section-three-right-image img {
    height: 100%;
    width: 100%;
    margin-left: 240px;
}

.section-three .section-three-right p {
    font-size: 16px;
    margin-top: 20px;
    margin-left: 100px;
    line-height: 20px;
    color: rgb(82, 82, 92);
}


/* <!-------- section-three-left-side-icons ---------> */
.section-three .section-three-left-icons {
    height: 200px;
    width: 300px;

}

.section-three .section-three-right .section-three-left-icons-1 {
    height: 40px;
    width: 250px;
    display: flex;
    margin-top: 50px;
    margin-left: 110px;
}

.section-three .section-three-right .section-three-left-icons-1 i {
    color: rgb(23, 92, 255);
    font-size: 15px;
    margin-top: 3px;

}

.section-three .section-three-right .section-three-left-icons-1 p {
    margin-top: 8px;
    margin-left: 10px;
    color: rgb(87, 87, 87);
    font-size: 15px;
    line-height: 5px;
}

.section-three .section-three-right .section-three-left-icons-2 {
    height: 40px;
    width: 250px;
    display: flex;
    margin-top: 0px;
    margin-left: 110px;
}

.section-three .section-three-right .section-three-left-icons-2 i {
    color: rgb(23, 92, 255);
    font-size: 15px;
    margin-top: 3px;

}

.section-three .section-three-right .section-three-left-icons-2 p {
    margin-top: 8px;
    margin-left: 10px;
    color: rgb(87, 87, 87);
    font-size: 15px;
    line-height: 5px;
}

.section-three .section-three-right .section-three-left-icons-3 {
    height: 40px;
    width: 250px;
    display: flex;
    margin-top: 0px;
    margin-left: 110px;
}

.section-three .section-three-right .section-three-left-icons-3 i {
    color: rgb(23, 92, 255);
    font-size: 15px;
    margin-top: 3px;

}

.section-three .section-three-right .section-three-left-icons-3 p {
    margin-top: 8px;
    margin-left: 10px;
    color: rgb(87, 87, 87);
    font-size: 15px;
    line-height: 5px;
}


/* <!-------- section-three-right-side-icons ---------> */
.section-three .section-three-right-icons {
    height: 200px;
    width: 300px;

}

.section-three .section-three-right .section-three-right-icons-1 {
    height: 40px;
    width: 250px;
    display: flex;
    margin-top: -200px;
    margin-left: 400px;
}

.section-three .section-three-right .section-three-right-icons-1 i {
    color: rgb(23, 92, 255);
    font-size: 15px;
    margin-top: 3px;

}

.section-three .section-three-right .section-three-right-icons-1 p {
    margin-top: 8px;
    margin-left: 10px;
    color: rgb(87, 87, 87);
    font-size: 15px;
    line-height: 5px;
}

.section-three .section-three-right .section-three-right-icons-2 {
    height: 40px;
    width: 250px;
    display: flex;
    margin-top: 0px;
    margin-left: 400px;
}

.section-three .section-three-right .section-three-right-icons-2 i {
    color: rgb(23, 92, 255);
    font-size: 15px;
    margin-top: 3px;

}

.section-three .section-three-right .section-three-right-icons-2 p {
    margin-top: 8px;
    margin-left: 10px;
    color: rgb(87, 87, 87);
    font-size: 15px;
    line-height: 5px;
}

.section-three .section-three-right .section-three-right-icons-3 {
    height: 40px;
    width: 250px;
    display: flex;
    margin-top: 0px;
    margin-left: 400px;
}

.section-three .section-three-right .section-three-right-icons-3 i {
    color: rgb(23, 92, 255);
    font-size: 15px;
    margin-top: 3px;
   
}

.section-three .section-three-right .section-three-right-icons-3 p {
    margin-top: 8px;
    margin-left: 10px;
    color: rgb(87, 87, 87);
    font-size: 15px;
    line-height: 5px;
}

/* ==================section-four (Start)=============== */
.section-four {
    width: 100%;
    height: 100vh;
}

/* -----------section-four-left-side---------- */
.section-four .section-four-left {
    width: 60%;
    padding: 100px;
    margin-top: 100px;
}

.section-four .section-four-left h1 {
    color: rgb(7, 28, 77);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.section-four .section-four-left .section-four-left-image {
    height: 40px;
    width: 40px;
    margin-top: -45px;
}

.section-four .section-four-left .section-four-left-image img {
    height: 100%;
    width: 100%;
    margin-left: 285px;
}

.section-four .section-four-left p {
    font-size: 16px;
    margin-top: 20px;
    line-height: 25px;
    color: rgb(82, 82, 92);
}

/* <!-------- section-four-left-side-icons ---------> */
.section-four .section-four-left-icons {
    height: 200px;
    width: 300px;

}

.section-four .section-four-left .section-four-left-icons-1 {
    height: 40px;
    width: 250px;
    display: flex;
    margin-top: 40px;
}

.section-four .section-four-left .section-four-left-icons-1 i {
    color: rgb(23, 92, 255);
    font-size: 15px;
    margin-top: 3px;

}

.section-four .section-four-left .section-four-left-icons-1 p {
    margin-top: 8px;
    margin-left: 10px;
    color: rgb(87, 87, 87);
    font-size: 15px;
    line-height: 5px;
}

.section-four .section-four-left .section-four-left-icons-2 {
    height: 40px;
    width: 300px;
    display: flex;
    margin-top: 0px;
}

.section-four .section-four-left .section-four-left-icons-2 i {
    color: rgb(23, 92, 255);
    font-size: 15px;
    margin-top: 3px;

}

.section-four .section-four-left .section-four-left-icons-2 p {
    margin-top: 8px;
    margin-left: 10px;
    color: rgb(87, 87, 87);
    font-size: 15px;
    line-height: 5px;
}

.section-four .section-four-left .section-four-left-icons-3 {
    height: 40px;
    width: 300px;
    display: flex;
    margin-top: 0px;
}

.section-four .section-four-left .section-four-left-icons-3 i {
    color: rgb(23, 92, 255);
    font-size: 15px;
    margin-top: 3px;

}

.section-four .section-four-left .section-four-left-icons-3 p {
    margin-top: 8px;
    margin-left: 10px;
    color: rgb(87, 87, 87);
    font-size: 15px;
    line-height: 5px;
}

/* <!-------- section-four-RIGHT-side-icons ---------> */
.section-four .section-four-right-icons {
    height: 200px;
    width: 300px;
}

.section-four .section-four-left .section-four-right-icons-1 {
    height: 40px;
    width: 300px;
    display: flex;
    margin-top: -200px;
    margin-left: 300px;
}

.section-four .section-four-left .section-four-right-icons-1 i {
    color: rgb(23, 92, 255);
    font-size: 15px;
    margin-top: 3px;

}

.section-four .section-four-left .section-four-right-icons-1 p {
    margin-top: 8px;
    margin-left: 10px;
    color: rgb(87, 87, 87);
    font-size: 15px;
    line-height: 5px;
}

.section-four .section-four-left .section-four-right-icons-2 {
    height: 40px;
    width: 300px;
    display: flex;
    margin-top: 0px;
    margin-left: 300px;
}

.section-four .section-four-left .section-four-right-icons-2 i {
    color: rgb(23, 92, 255);
    font-size: 15px;
    margin-top: 3px;

}

.section-four .section-four-left .section-four-right-icons-2 p {
    margin-top: 8px;
    margin-left: 10px;
    color: rgb(87, 87, 87);
    font-size: 15px;
    line-height: 5px;
}

.section-four .section-four-left .section-four-right-icons-3 {
    height: 40px;
    width: 300px;
    display: flex;
    margin-top: 0px;
    margin-left: 300px;
}

.section-four .section-four-left .section-four-right-icons-3 i {
    color: rgb(23, 92, 255);
    font-size: 15px;
    margin-top: 3px;

}

.section-four .section-four-left .section-four-right-icons-3 p {
    margin-top: 8px;
    margin-left: 10px;
    color: rgb(87, 87, 87);
    font-size: 15px;
    line-height: 5px;
}

/* -----------section-four-right-side---------- */
.section-four .section-four-right {
    width: 38%;
    height: 500px;
    margin-left: 750px;
    margin-top: -600px;
}

.section-four .section-four-right img {
    height: 100%;
    width: 100%;
}

/* ==================section-four (End)=============== */


/* ==================section-five (Start)=============== */
.section-five{
    width: 100%;
    height: 110vh;
    background-color: #0b163f;
    align-items: center;
    justify-content: center;
}
/* -------------section-five-text------------ */
.section-five .section-five-text {
    width: 55%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    justify-content: center;
}

.section-five .section-five-text h2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: rgb(251, 216, 42);
}

.section-five .section-five-text h1 {
    font-size: 40px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    line-height: 80px;
}

.section-five .section-five-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.63);
}

/* --------------section-five-icons---------------- */
.section-five .section-five-icons{
    width: 100%;
    padding: 100px;
    display: flex;
}
.section-five .section-five-icons .section-five-icon1{
    height: 250px;
    width: 270px;
    /* background-color: aqua; */
    text-align: center;
}
.section-five .section-five-icons .section-five-icon1 i{
    font-size: 32px;
    height: 80px;
    width: 80px;
    background-color: #242e53;
    text-align: center;
    padding: 22px;
    color: white;
    border-radius: 10px;
    transition: all 0.4s;
}
.section-five .section-five-icons .section-five-icon1 i:hover{
    color: rgb(23, 92, 255);
    background-color: white;
    transition: all 0.4s;
}
.section-five .section-five-icons .section-five-icon1 h1{
    color: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding-top: 30px;
}
.section-five .section-five-icons .section-five-icon1 p{
    color: rgb(214, 213, 225);
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    padding-top: 10px;
}

.section-five .section-five-icons .section-five-icon2{
    height: 250px;
    width: 260px;
    /* background-color: aqua; */
     text-align: center;
     margin-left: 35px;
} 

.section-five .section-five-icons .section-five-icon2 i{
    font-size: 32px;
    height: 80px;
    width: 80px;
    background-color: #242e53;
    text-align: center;
    padding-top: 22px;
    color: white;
    border-radius: 10px;
    transition: all 0.4s;
}
.section-five .section-five-icons .section-five-icon2 i:hover{
    color: rgb(23, 92, 255);
    background-color: white;
    transition: all 0.4s;
}
.section-five .section-five-icons .section-five-icon2 h1{
    color: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding-top: 30px;
}
.section-five .section-five-icons .section-five-icon2 p{
    color: rgb(214, 213, 225);
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    padding-top: 10px;
}

.section-five .section-five-icons .section-five-icon3{
    height: 250px;
    width: 280px;
    /* background-color: aqua; */
     text-align: center;
     margin-left: 35px;
} 

.section-five .section-five-icons .section-five-icon3 i{
    font-size: 32px;
    height: 80px;
    width: 80px;
    background-color: #242e53;
    text-align: center;
    padding-top: 22px;
    color: white;
    border-radius: 10px;
    transition: all 0.4s;
}
.section-five .section-five-icons .section-five-icon3 i:hover{
    color: rgb(23, 92, 255);
    background-color: white;
    transition: all 0.4s;
}
.section-five .section-five-icons .section-five-icon3 h1{
    color: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding-top: 30px;
}
.section-five .section-five-icons .section-five-icon3 p{
    color: rgb(214, 213, 225);
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    padding-top: 10px;
}
.section-five .section-five-icons .section-five-icon4{
    height: 250px;
    width: 280px;
    /* background-color: aqua; */
     text-align: center;
     margin-left: 35px
} 

.section-five .section-five-icons .section-five-icon4 i{
    font-size: 32px;
    height: 80px;
    width: 80px;
    background-color: #242e53;
    text-align: center;
    padding-top: 22px;
    color: white;
    border-radius: 10px;
    transition: all 0.4s;
}
.section-five .section-five-icons .section-five-icon4 i:hover{
    color: rgb(23, 92, 255);
    background-color: white;
    transition: all 0.4s;
}
.section-five .section-five-icons .section-five-icon4 h1{
    color: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding-top: 30px;
}
.section-five .section-five-icons .section-five-icon4 p{
    color: rgb(214, 213, 225);
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    padding-top: 10px;
}
/* ================section-five (End)=============== */


/* ==============section-six (Start)================== */
.section-six{
    width: 100%;
    height: 130vh;
    background-color: #f8f9fa;
}
/* -------------section-six-text------------ */
.section-six .section-six-text {
    width: 40%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    justify-content: center;
}
.section-six .section-six-text h2{
font-size: 18px;
line-height: 21px;
font-weight: 500;
color: rgb(23, 92, 255);
}
.section-six .section-six-text h1{
font-size: 40px;
line-height: 48px;
font-weight: 700;
color: rgb(7, 28, 77);
padding-top: 20px;
}

/* ---------------section-six-picture---------------- */
.section-six .section-six-pic1{
    height: 700px;
    width: 400px;
    background-color: #ffffff;
    margin-left: 100px;
    border-radius: 20px;
    
}
   

.section-six .section-six-pic1 .section-six-pic1-image{
    height: 320px;
    width: 370px ;
    margin-left: 15px;
    overflow: hidden;
    border-radius: 20px;
    }

.section-six .section-six-pic1 .section-six-pic1-image .bg1{
    height: 325px;
    width: 370px;
    background-color: rgba(0, 0, 0, 0.4);
    transform: translateY(-327px);
    border-radius: 20px;
    visibility: hidden;
    /* transition: all 0.5s; */
   /* margin-top: -100px; */

}
.section-six .section-six-pic1 .section-six-pic1-image img{
    height: 100%;
    width: 100%;
    margin-top: 15px;
    border-radius: 20px;
    /* background-size: cover; */

}
.section-six .section-six-pic1 .section-six-pic1-image:hover .bg1{
    visibility: visible;
    transition: all 0.5s;
}
.section-six .section-six-pic1 .section-six-pic1-image:hover   img{
    transform: scale(1.1);
    overflow: hidden;
}